$primary-white-color: #ffffff;
$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$hero-gradient: rgba(47, 48, 58, 0.4);
$primary-black-color: #000000;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-accent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$projects-thumb-text: rgba(255, 255, 255, 1);
$projects-thumb-bg: rgba(33, 150, 243, 0.9);
$project-border-color: rgba(238, 238, 238, 1);
$button-order-active: #188ce8;
$work-text-bg: rgba(47, 48, 58, 0.8);
$primary-icons-color: #afb1b8;
$button-shadow-color: rgba(0, 0, 0, 0.15);
$follow-link-bg: rgba(255, 255, 255, 0.1);
$form-title-color: rgba(33, 33, 33, 1);
$placeholder-text-color: rgba(117, 117, 117, 0.5);
$button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$teamcard-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$projects-hover-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$primary-gap-size: 30px;
$half-gap-size: 15px;
$modal-button-border: rgba(0, 0, 0, 0.1);
$form-input-border: rgba(33, 33, 33, 0.2);
$footer-form-border: rgba(255, 255, 255, 0.3);
$modal-window-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);