.contact-list {
  @extend %list;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 64px;
  &__item:not(:first-child) {
    margin-bottom: 32px;
  }
  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }
  &__link--accent {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: $primary-accent-color;
  }
  &__icon {
    display: none;
  }
}
