.feature-list {
  @extend %list;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * $primary-gap-size);
    margin-right: calc(-1 * $half-gap-size);
  }
  &__item {
    margin-bottom: $primary-gap-size;
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 2 * $half-gap-size);
      margin-left: $half-gap-size;
      margin-right: $half-gap-size;
    }
  }
  &__thumb {
    margin-bottom: $primary-gap-size;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-bg-color;
    border-radius: 4px;
  }
  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);

    color: $secondary-text-color;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}
