.logo {
  @extend %link;
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: $primary-accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
  &__text {
    color: $secondary-text-color;
  }
  &__footer {
    color: $primary-white-color;
  }
}
