.menu {
  @media screen and (max-width: 767px) {
    display: none;

    background-color: $primary-white-color;
    &.menu--is-open {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      min-height: 796px;
      padding: 48px 40px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  .menu-list {
    @extend %list;
    display: inline-flex;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &__item {
      margin-right: 10px;
    }
    &__item::after {
      content: "";

      width: 1px;
      height: 22px;
      margin-right: 10px;
      background-color: $form-input-border;
    }
    &__link {
      @extend %link;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(22 / 18);
      letter-spacing: 0.02em;

      color: $primary-accent-color;
    }
  }
  &__button {
    position: absolute;
    top: 10px;
    right: 10px;

    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__button:hover,
  &__button:focus {
    color: $primary-accent-color;
  }
  &__icon--open,
  &__icon--close {
    fill: currentColor;
  }
  &__button &__icon--open {
    display: block;
  }
  &__button &__icon--close {
    display: none;
  }
  &__button--is-open {
    color: $primary-black-color;
  }
  &__button.menu__button--is-open &__icon--open {
    display: none;
  }
  &__button.menu__button--is-open &__icon--close {
    display: block;
  }
}
