.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 25;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  width: 95vw;
  @media screen and (max-width: 479px) {
    padding: 40px 10px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
  background-color: $primary-white-color;
  box-shadow: $modal-window-shadow;
  border-radius: 4px;

  transition: transform 250ms $timing-function 250ms;
  .backdrop.backdrop--is_hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-black-color;
    background-color: $primary-white-color;
    border: 1px solid $modal-button-border;
    border-radius: 50%;
    cursor: pointer;
  }
  &__button:hover {
    color: $primary-accent-color;
  }
  &__icon {
    fill: currentColor;
  }
}
.order-form {
  text-align: center;
  &__title {
    display: inline-block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;

    color: $secondary-text-color;
  }
  &__field {
    position: relative;

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  }
  &__input {
    margin-bottom: 10px;
    padding: 11px 30px;

    border: 1px solid $form-input-border;
    border-radius: 4px;

    transition: color 250ms $timing-function, border-color 250ms $timing-function;
  }
  &__input:hover,
  &__input:focus {
    color: $primary-black-color;
    border-color: $primary-accent-color;
    outline-color: $primary-accent-color;
  }
  &__input:active {
    color: $primary-black-color;
    border-color: $primary-accent-color;
    outline-color: $primary-accent-color;
  }
  &__icon {
    position: absolute;

    top: 50%;
    left: 12px;
    transform: translate(-25%, -25%);
    fill: $form-title-color;
  }
  &__input:hover + &__icon,
  &__input:focus + &__icon,
  &__input:active + &__icon {
    fill: $primary-accent-color;
  }
  &__textarea {
    padding: 12px 16px;
    height: 96px;

    border: 1px solid $form-input-border;
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms $timing-function;
  }
  &__textarea:hover,
  &__textarea:focus,
  &__textarea:active {
    border-color: $primary-accent-color;
    outline-color: $primary-accent-color;
  }
  &__textarea::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;

    color: $placeholder-text-color;
  }
  &__textarea:focus {
    color: $primary-black-color;
  }
  &__button {
    justify-content: center;
  }
}
.subscription-checkbox {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  @media screen and (max-width: 479px) {
    width: 75vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  &__link {
    margin-left: 4px;

    color: $primary-accent-color;
  }
  &__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__icon {
    position: absolute;
    top: 20%;
    left: 0;

    display: block;
    height: 15px;
    width: 16px;
    margin-left: -15px;
    margin-right: 8px;

    align-items: center;
    @media screen and (min-width: 480px) {
      margin-left: -23px;
    }

    background-color: $primary-white-color;
    border: 2px solid $secondary-text-color;

    transition: background-color 250ms $timing-function, border-color 250ms $timing-function;
  }
  &__input:checked ~ &__icon {
    background-color: $primary-accent-color;
    border: 2px solid $primary-accent-color;
  }
}
