.page-footer {
  background-color: $primary-bg-color;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) {
      &__container--tablet {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      margin-bottom: 60px;
    }
  }
}
.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.address-list {
  @extend %list;
  margin-top: 20px;
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__link {
    @extend %link;
  }
  &__link--white {
    color: $primary-white-color;
  }
}
.follow {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__label {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: $primary-white-color;
  }
}
.follow-form {
  display: flex;
  align-items: center;
  &__label {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    background-color: transparent;

    border: 1px solid $footer-form-border;
    box-shadow: $button-box-shadow;
    border-radius: 4px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
  }
  &__icon {
    margin-left: 12px;
  }
}
