.page-header {
  position: relative;
  
  margin-bottom: 0;
  min-width: 100vw;
  border-bottom: 1px solid $header-border-color;
&__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
}