.socials-list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-right: -10px;
  &__link {
    @extend %link;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    color: $primary-icons-color;
    border-radius: 50%;
  }
  &__link--dark_theme {
    color: $primary-white-color;
    background-color: $follow-link-bg;
  }
  &__icon {
    fill: currentColor;
  }
}
